@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_mixins" as *;

.ogf {
    width: 100vw;
    min-height: 1600px; 
    background-image: url('/ogf-desktop.png');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat; 
}