@use "../../styles/partials/global" as *;

.widget {
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  top: 40vh;

  &__fullview {
    right: 0;
    top: 10vh;
  }
}

.cta {
  position: absolute;
  top: -35px;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 10;
}

.content {
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 16px;
  width: 16rem;
  height: 10rem;
  background-color: #F9F4F4;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  opacity: 100%;
  overflow-y: auto;

  &--hide {
    display: none;
    overflow-y: unset;
  }

  &--opaque {
    opacity: 30%;
  }

  &__fullview {
    width: 30vw;
    height: 80vh;
  }
}

.sidebar {
  height: 7.5rem;
  width: 1.5rem;
  background-color: grey;
}
